
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font: 15px/1.6 Helvetica, Arial, sans-serif;
}

.slider {
  min-height: 60px;
}

.result {
  font-size: 4em;
  text-align: center;
}

article {
  margin-bottom: 2em;
  padding-bottom: 5em;
  border-bottom: 1px solid #ccc;
}

#slider1 .wsdm-slider-track {
  fill: #5ab1f8;
}

#slider1 .wsdm-slider-handle {
  fill: #fff;
  stroke: #064981;
}

#slider1 .wsdm-slider-play-background {
  fill: #064981;
  stroke: none;
}

#slider1 .wsdm-slider-play {
  fill: #5ab1f8;
}
